body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9fb;
  color: #333;
}

.notification-alert {
  text-decoration: none;
  color: inherit; /* Mantiene el color por defecto */
}

.notification-alert:hover {
  color: white; /* Cambia el color a blanco al pasar el ratón */
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  color: #4caf50;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
  border-bottom: 2px solid #4caf50;
  padding-bottom: 5px;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.info-grid p {
  font-size: 16px;
  margin: 5px 0;
}

.info-grid span {
  font-weight: bold;
  color: #555;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.primary-button {
  background-color: #4caf50;
  color: white;
  margin-right: 10px;
}

.secondary-button {
  background-color: #007bff;
  color: white;
}

.finalize-button {
  background-color: #008cba;
  color: white;
  margin-right: 10px;
}

.cancel-button {
  background-color: #f44336;
  color: white;
}

button:hover {
  opacity: 0.9;
}

.card label {
  color: black;
}

.planos-archivos {
  background-color: #f7f9fc;
  padding: 30px;
  border-radius: 12px;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.planos-archivos h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
}

.planos-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.planos-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 30%;
  min-width: 250px;
  margin-bottom: 20px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.planos-card:hover {
  transform: translateY(-5px);
}

.planos-header {
  background-color: #3498db;
  color: white;
  padding: 15px;
  font-weight: 600;
  font-size: 1.2rem;
}

.planos-body {
  padding: 20px;
  background-color: #f9f9f9;
  color: black;
}
.download-button {
  display: inline-flex;
  align-items: center;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #388e3c;
}

.download-button i {
  margin-right: 10px;
}

.planos-note {
  font-size: 1rem;
  color: #777;
  text-align: center;
  margin-top: 20px;
  font-style: italic;
}

/* Estilos generales para la tabla */
.tabla-gastos {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
}

/* Estilos para las celdas y filas */
.tabla-gastos th,
.tabla-gastos td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Estilo para las filas de la tabla */
.tabla-gastos tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabla-gastos tr:hover {
  background-color: #f1f1f1;
}

/* Estilo para las celdas de fecha */
.tabla-gastos .fecha {
  color: #333;
}

/* Estilo para las celdas de monto en color rojo */
.tabla-gastos .monto-rojo {
  color: red;
  font-weight: bold;
}

/* Estilo para la sección de Total */
.total-container {
  display: flex;
  justify-content: flex-end; /* Alinea el total a la derecha */
  margin-top: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

/* Estilo para el texto Total */
.total-label {
  margin-right: 10px;
}

/* Estilo para el monto total */
.total-amount {
  color: red; /* Puedes cambiar el color según tu preferencia */
}

@media (max-width: 850px) {
  .planos-archivos {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .planos-archivos {
    grid-template-columns: 1fr;
  }
}
